[Unit]
Descrption=jaeger-all-in-one

[Service]
ExecStart=/usr/local/bin/jaeger/jaeger-all-in-one --config-file=/etc/jaeger-config.yaml
Restart=always
StandardOutput=syslog
SyslogIdentifier=jaeger
User=nobody
Group=nobody

[Install]
WantedBy=multi-user.target