[Unit]
Descrption=jaeger-all-in-one

[Service]
ExecStart=/usr/local/bin/jaeger/jaeger-all-in-one --config-file=/etc/jaeger/jaeger-config.yaml
Restart=always
SyslogIdentifier=jaeger
User=root
Group=root

[Install]
WantedBy=multi-user.target